.intro h2 {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: .15em; }
.intro p {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: .11em;
  margin: 20px 0 25px; }

.start {
  display: block;
  width: 100%; }
  .start p {
    float: left;
    margin: 10px 0;
    margin: 5px 10px;
    padding: 5px;
    clear: none; }
  .start input {
    display: block;
    clear: both;
    font: 16px/24px "Molengo", Georgia, Times, serif;
    letter-spacing: .13em;
    padding: 2px 5px 2px 5px; }
  .start label {
    font: 16px/24px "Molengo", Georgia, Times, serif;
    letter-spacing: .15em;
    padding: 2px 0 0 6px; }
