* {
  margin:0;
  padding:0;
} 

html, body {
  height: 100%;
  background: white url("/images/bg.jpeg");
  background-repeat: repeat-x;
  background-position: left top;
}

footer {
  position: absolute;
  bottom: 0;
	height: 108px;

  background: transparent url("/images/footer.png");
  background-repeat: repeat-x;
  width: 100%;
}


.clearfix:before,
.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; }


body {
	font: 15px/25px 'Cabin', Helvetica, Arial, sans-serif;
}

.main {
  width: 900px;
  margin: 0 auto;
}

.code {
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
}

a.button {

	font: 24px/32px 'Cabin', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  background: rgb(115, 147, 202);
  color: rgb(243, 249, 254);
  opacity: 0.6;

  margin: 12px 0px;
  padding: 5px 20px;
  border: 1px solid #999;
  border-radius: 5px;

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);

  &.spotlight {
    opacity: 1.0;
    border-color: #666;
  }
  &:hover {
    opacity: 1.0;
    background: rgb(245, 136, 5);
  }
  &:active {
    opacity: 1.0;
    color: rgb(245, 136, 5);
    background-color: rgb(243, 249, 254);
  }
}

header {
  position: relative;
  h1 {
    font: 70px/100px 'Lobster', Georgia, Times, serif;
    color: rgb(131, 166, 208);
    text-align: center;
  }
}
