<html>
  <head>
    <title>Hire Me!</title>

    
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/base.css">

    <script src="init.js"></script>

  </head>

  <body>

    <div id="wrap">

      <div id="main">

        <h1>Hire Me!</h1>

        <%= yield %>

      </div>

    </div>

    <div id="footer">

    </div>

  </body>

</html>
