<html>
  <head>
    <title>Hire Me!</title>

    
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/start.css">
    <link rel="stylesheet" href="/css/question.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <%= yield_content :head %>

  </head>

  <body>

    <div class="main">
      <header>
        <h1>Hire Me!</h1>
        <%= yield_content :header %>
      </header>

      <%= yield %>
    </div>

    <footer>
    </footer>

    <script src="/js/start.js"></script>
    <script src="/js/question.js"></script>
  </body>

</html>
