
<form method="POST" action="/start">
  <input type=text name="first_name" placeholder="First" />
  <input type=text name="last_name" placeholder="Last" />
  <input type=submit value="Kick arse!" />
</form>
